In [1]:

import json
import numpy as np
import evaluate
from transformers import AutoModelForCausalLM, AutoTokenizer, DataCollatorWithPadding, TrainingArguments, Trainer
from peft import LoraConfig, get_peft_model
# import torch.nn as nn
from datasets import load_dataset, Dataset
import torch
import time
# from peft import PeftModel, PeftConfig
import phoenix as px
from phoenix.otel import register

SyntaxError: multiple exception types must be parenthesized (__init__.py, line 56)

In [3]:


device = "mps"

In [6]:

# model_id = "TinyLlama/TinyLlama-1.1B-Chat-v1.0"
model_id = "meta-llama/Llama-3.2-1B-Instruct"

tokenizer = AutoTokenizer.from_pretrained(model_id, padding_side="right")
if not tokenizer.pad_token:
    tokenizer.pad_token = tokenizer.eos_token
# tokenizer.chat_template = '{{- bos_token }}\n{%- if custom_tools is defined %}\n    {%- set tools = custom_tools %}\n{%- endif %}\n{%- if not tools_in_user_message is defined %}\n    {%- set tools_in_user_message = true %}\n{%- endif %}\n{%- if not date_string is defined %}\n    {%- if strftime_now is defined %}\n        {%- set date_string = strftime_now("%d %b %Y") %}\n    {%- else %}\n        {%- set date_string = "26 Jul 2024" %}\n    {%- endif %}\n{%- endif %}\n{%- if not tools is defined %}\n    {%- set tools = none %}\n{%- endif %}\n\n{#- This block extracts the system message, so we can slot it into the right place. #}\n{%- if messages[0][\'role\'] == \'system\' %}\n    {%- set system_message = messages[0][\'content\']|trim %}\n    {%- set messages = messages[1:] %}\n{%- else %}\n    {%- set system_message = "" %}\n{%- endif %}\n\n{#- System message #}\n{{- "<|start_header_id|>system<|end_header_id|>\\n\\n" }}\n{%- if tools is not none %}\n    {{- "Environment: ipython\\n" }}\n{%- endif %}\n{%- if tools is not none and not tools_in_user_message %}\n    {{- "You have access to the following functions. To call a function, please respond with JSON for a function call." }}\n    {{- \'Respond in the format {"name": function name, "parameters": dictionary of argument name and its value}.\' }}\n    {{- "Do not use variables.\\n\\n" }}\n    {%- for t in tools %}\n        {{- t | tojson(indent=4) }}\n        {{- "\\n\\n" }}\n    {%- endfor %}\n{%- endif %}\n{{- system_message }}\n{{- "<|eot_id|>" }}\n\n{#- Custom tools are passed in a user message with some extra guidance #}\n{%- if tools_in_user_message and not tools is none %}\n    {#- Extract the first user message so we can plug it in here #}\n    {%- if messages | length != 0 %}\n        {%- set first_user_message = messages[0][\'content\']|trim %}\n        {%- set messages = messages[1:] %}\n    {%- else %}\n        {{- raise_exception("Cannot put tools in the first user message when there\'s no first user message!") }}\n{%- endif %}\n    {{- \'<|start_header_id|>user<|end_header_id|>\\n\\n\' -}}\n    {{- "Given the following functions, please respond with a JSON for a function call " }}\n    {{- "with its proper arguments that best answers the given prompt.\\n\\n" }}\n    {{- \'Respond in the format {"name": function name, "parameters": dictionary of argument name and its value}.\' }}\n    {{- "Do not use variables.\\n\\n" }}\n    {%- for t in tools %}\n        {{- t | tojson(indent=4) }}\n        {{- "\\n\\n" }}\n    {%- endfor %}\n    {{- first_user_message + "<|eot_id|>"}}\n{%- endif %}\n\n{%- for message in messages %}\n    {%- if not (message.role == \'ipython\' or message.role == \'tool\' or \'tool_calls\' in message) %}\n        {{- \'<|start_header_id|>\' + message[\'role\'] + \'<|end_header_id|>\\n\\n\'+ message[\'content\'] | trim + \'<|eot_id|>\' }}\n    {%- elif \'tool_calls\' in message %}\n        {%- if not message.tool_calls|length == 1 %}\n            {{- raise_exception("This model only supports single tool-calls at once!") }}\n        {%- endif %}\n        {%- set tool_call = message.tool_calls[0].function %}\n        {{- \'<|start_header_id|>assistant<|end_header_id|>\\n\\n\' -}}\n        {{- \'{"name": "\' + tool_call.name + \'", \' }}\n        {{- \'"parameters": \' }}\n        {{- tool_call.arguments | tojson }}\n        {{- "}" }}\n        {{- "<|eot_id|>" }}\n    {%- elif message.role == "tool" or message.role == "ipython" %}\n        {{- "<|start_header_id|>ipython<|end_header_id|>\\n\\n" }}\n        {%- if message.content is mapping or message.content is iterable %}\n            {{- message.content | tojson }}\n        {%- else %}\n            {{- message.content }}\n        {%- endif %}\n        {{- "<|eot_id|>" }}\n    {%- endif %}\n{%- endfor %}\n{%- if add_generation_prompt %}\n    {{- \'<|start_header_id|>assistant<|end_header_id|>\\n\\n\' }}\n{%- endif %}\n'

model = AutoModelForCausalLM.from_pretrained("/Users/mann.kurani.ctr/Desktop/Personal_Code/SQL Finetune/models/finetuned_final_2_tinyllama").to(device)
# model = AutoModelForCausalLM.from_pretrained(model_id).to(device)
# model = PeftModel.from_pretrained(model, "/Users/mann.kurani.ctr/Desktop/Personal_Code/SQL Finetune/models/finetuned_final_2_tinyllama").to(device)

In [4]:

# lora_config = LoraConfig(
#     task_type="CAUSAL_LM",
#     r = 16,
#     lora_alpha=32,
#     lora_dropout=0.1,
#     target_modules=["q_proj", "v_proj", "k_proj", "o_proj"]
# )

# model = get_peft_model(model, lora_config)
# model.print_trainable_parameters()

In [7]:


def dataset_creation(n: int) -> Dataset:
    """Loads and trims the text-to-SQL dataset."""
    dataset = load_dataset("gretelai/synthetic_text_to_sql")
    columns_to_keep = ['sql_prompt', 'sql_context', 'sql']

    # Filter only required columns
    dataset = dataset["train"].remove_columns(
        [col for col in dataset["train"].column_names if col not in columns_to_keep]
    )

    return dataset.select(range(n))

In [8]:

def tokenize_fn(batch):
    prompts = []
    sql_outputs = []

    for sql_prompt, sql_context, sql in zip(batch["sql_prompt"], batch["sql_context"], batch["sql"]):
        # Build the prompt using chat format
        prompt = tokenizer.apply_chat_template(
            [
                {"role": "system", "content": "You are a helpful assistant that converts SQL prompts and context into SQL queries. Do not give any additional comments or anything other than the sql query itself."},
                {"role": "user", "content": json.dumps({
                    "sql_prompt": sql_prompt,
                    "sql_context": sql_context
                })}
            ],
            tokenize=False,
            add_generation_prompt=True
        )
        prompts.append(prompt)

        # Format SQL output with EOS
        sql_output = f'[{{"sql": "{sql.strip()}"}}]{tokenizer.eos_token}'
        sql_outputs.append(sql_output)

    # Full sequence = prompt + sql_output
    full_texts = [p + o for p, o in zip(prompts, sql_outputs)]

    # Tokenize full sequences
    full_encodings = tokenizer(
        full_texts,
        truncation=True,
        max_length=512,
        padding="max_length",
        return_tensors="pt"
    )

    input_ids = full_encodings["input_ids"]
    attention_mask = full_encodings["attention_mask"]

    # Get prompt lengths to mask label tokens for prompts
    prompt_lengths = [
        len(tokenizer(p, truncation=True, max_length=512)["input_ids"])
        for p in prompts
    ]

    labels = input_ids.clone()
    for i, prompt_len in enumerate(prompt_lengths):
        labels[i, :prompt_len] = -100  # Mask prompt tokens

    return {
        "input_ids": input_ids,
        "attention_mask": attention_mask,
        "labels": labels
    }

In [9]:


df = dataset_creation(5000).train_test_split(0.01)


train_df = df["train"]
eval_df = df["test"]


train_df = train_df.map(tokenize_fn, batched=True)
eval_df = eval_df.map(tokenize_fn, batched=True)

Map:   0%|          | 0/4950 [00:00<?, ? examples/s]

Map:   0%|          | 0/50 [00:00<?, ? examples/s]

In [8]:

# Load BLEU metric once
bleu_metric = evaluate.load("bleu")

def compute_metrics(eval_pred):
    logits, labels = eval_pred

    # Pad labels and predictions to same shape if needed
    if logits.shape[-1] != labels.shape[-1]:
        labels = labels[:, :logits.shape[1]]

    # Predicted token IDs (greedy)
    predictions = np.argmax(logits, axis=-1)

    # Replace -100 in labels with pad_token_id before decoding
    labels = np.where(labels != -100, labels, tokenizer.pad_token_id)

    # Decode
    decoded_preds = tokenizer.batch_decode(predictions, skip_special_tokens=True)
    decoded_labels = tokenizer.batch_decode(labels, skip_special_tokens=True)

    # Clean whitespace
    decoded_preds = [pred.strip() for pred in decoded_preds]
    decoded_labels = [label.strip() for label in decoded_labels]

    print(decoded_preds)
    print(decoded_labels)

    # BLEU requires list-of-references format
    result = bleu_metric.compute(
        predictions=decoded_preds,
        references=[[label] for label in decoded_labels]
    )

    # Exact Match
    exact_match = np.mean([
        int(pred == label)
        for pred, label in zip(decoded_preds, decoded_labels)
    ])

    print({
        "bleu": result,          # BLEU score %
        "exact_match": exact_match       # EM score %
    })

    return {
        "bleu": round(result["bleu"] * 100, 2),          # BLEU score %
        "exact_match": round(exact_match * 100, 2)       # EM score %
    }

In [9]:

training_args = TrainingArguments(
    output_dir="sql_generator_improved",

    # Basic training setup
    num_train_epochs=10,
    per_device_train_batch_size=2,
    per_device_eval_batch_size=2,
    gradient_accumulation_steps=8,
    gradient_checkpointing=False,
    # # Evaluation, logging, and saving
    # eval_strategy="epoch",
    # logging_strategy="steps",
    # logging_steps=10,
    # save_strategy="epoch",
    # save_total_limit=2,
    
    eval_strategy="steps",
    logging_strategy="steps",
    logging_steps=10,
    save_strategy="steps",
    save_total_limit=10,
    save_steps = 50,
    eval_steps=50,

    # Learning parameters
    learning_rate=2e-4,
    warmup_steps=50,
    weight_decay=0.01,
    label_names=["labels"],

    # Device & precision
    fp16=False,
    bf16=False,
    dataloader_pin_memory=False,

    # Meta & checkpointing
    seed=42,
    report_to="tensorboard",
    logging_dir="./logs",
    load_best_model_at_end=True,
    # metric_for_best_model="exact_match",
    # greater_is_better=True,
)

In [10]:


data_collator = DataCollatorWithPadding(tokenizer=tokenizer)


trainer = Trainer(
    model=model,
    args=training_args,
    train_dataset=train_df,
    eval_dataset=eval_df,
    compute_metrics=compute_metrics,
    data_collator=data_collator,
    processing_class = tokenizer,
)

In [11]:
trainer.evaluate()

['TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average number of rowsic functions metrics in each user model? the, (sql":": "SELECT TABLE algorithmnessIncidents (\nInc INT PRIMARY application_id(255), region VARCHAR(255), incident INT); INSERT INTO FairnessIncidents (id, app, region) incidents) VALUES (1, \'AI App\', \'Europe\', 10), (2, \'AI Writer\', \'Europe\', 15), (3, \'AI Translator\', \'Europe\', 18); (4, \'AI Translatorainer\', \'Europe\', 10); (5, \'AI Writer\', \'Europe\', 20); (6, \'AI Artist\', \'Africa\', 3); (7, \'AI Artist\', \'Asia\', 4), (8, \'AI Expl\', \'Europe America\', 20), (9, \'AI Composer\', \'South America\', 7); SELECT[{"sql": "SELECT app, SUM(incidents) FROM total_incidents FROM FairnessIncidents WHERE region = \'Europe\' GROUP BY app;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find of group in the are a than 5000 visitors visitors in (sql":": "SELECT TABLE heritageSites (Site INT PRIMARY name VARCHAR(255), country VARCHAR(20), annual_visitors INT);"} INTO HeritageSites (id, name, country, annual_visitors) VALUES (1, \'Pyina of Marrz\', \'Morocco\', 1000), (2, \'Pyient City of Petra B\', \'Zimbabwe\', 1200), (3, \'M-Hewn Churches of Lalibela\', \'Ethiopia\', 8000); (4, \'M Mosque of Cairoenné00e9\', \'Mali\', 4500); SELECT[{"sql": "SELECT name, country, HeritageSites WHERE annual_visitors > 5000;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average number of rows calls in the database of California,context":": "SELECT TABLE emergency_incidents (id INT PRIMARY state_date VARCHAR(50), location_date VARCHAR(50), incident_date DATE, incident VARCHAR(50), state VARCHAR(2))"} INTO emergency_incidents (id, incident_type, incident_location, incident_date, city, state) VALUES (1, \'Car\',\', \'Houston Main St\', \'2022-01-01\', \'Austin\', \'Texas\'), ([{"sql": "SELECT COUNT(*) FROM emergency_incidents WHERE state = \'TX\';"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find are the top of have  to the  day as (sql":": "SELECT TABLE supporters (id INT PRIMARY name_name, donation_date DATE); SELECT INTO donations (id, supporter, donation_date) VALUES (1, 1, \'2022-01-01\'); (2, 2, \'2022-01-01\'), (3, 3, \'2022-01-02\'); (4, 1, \'2022-01-02\'), SELECT[{"sql": "SELECT supporter.supporter, supporter_name, b.supporter AS supporter2 FROM a.donation_date FROM donations a a JOIN JOIN donations AS b ON a.donation_date = b.donation_date WHERE a.supporter!= b.supporter;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find many unique areas projects in been total of than 100.5 tons per {"sql":": "SELECT TABLE urban_agriculture_projectsid_name INT, project_name VARCHAR, yield_t, SELECT INTO urban_agriculture (crop_id, crop_name, yield) VALUES (1, \'Cornato\', 3.7), (2, \'Carettuce\', 3.8), (3, \'Carucumbers\', 3.1); (4, \'Carrots\', 1.1); SELECT[{"sql": "SELECT COUNT(*) FROM urban_agriculture WHERE yield > 2.5;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average number of rows events in a United sector, (sql":": "The TABLE healthcare_investments (id INT PRIMARY name_of(50), investment DECIMAL(10, 2), INSERT[{"sql": "SELECT COUNT(*) FROM impact_investments WHERE area = \'healthcare\';"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average value of rows of a given in the UnitedNortharms\' table withsql":": "SELECT TABLE farms (id INT PRIMARY name VARCHAR(255), acres INT); SELECT INTO farms (id, name, acres) VALUES (1, \'Farm Farm\', 1000 (2, \'Johnson Farm\', 200), (3, \'Brown Farm\', 50); SELECT[{"sql": "SELECT MAX(acres) FROM max_acres FROM farms;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average number of all in by day", the ship,", the202terdam\' portsql":": "SELECT TABLE container_handid_name INT, port VARCHAR, country_at DATEETIME, SELECT TABLE container_agent (ship_agent_id INT, name_id INT, name TEXT,CREATE TABLE container (container_id INT, weight_agent_id INT, weight INT); created_at DATETIME);SELECT INTO port ( (1, \'Rotterdam\', \'2022-01-01\');INSERT[{"sql": "SELECT ship_agent.name, SUM(container.weight) as ship_agent JOIN port ON ship_agent.port_id = port.port_id JOIN container ON ship_agent.ship_agent_id = container.ship_agent_id WHERE port.name = \'Rotterdam\' GROUP BY ship_agent.name, DATE(container.created_at);"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Findify the top of rows in by a ship in company", along by the number number of vessels owned each order", and then the with  vessels in returnsql":": "SELECT TABLE fleet (leet_id INT, fleet_name, SELECT TABLE vessels(fessel_id INT, fleet_id INT, company TEXT,INSERT INTO fleets ( (1,Company A\'); (2,\'Company B\'),(3,\'Company C\');INSERT INTO vessels VALUES (1,1,Vessel 1\'),(2,1,\'Vessel 2\'),(3,1,\'Vessel 3\');INSERT[{"sql": "SELECT fleets.company, COUNT(v.vleet_id) as total_vessels FROM fleets f LEFT JOIN vessels v ON f.fleet_id = v.fleet_id GROUP BY f.company ORDER BY num_vessels DESC;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average number of by all fees in category? the2022 andsql":": "SELECT TABLE programExpenses (DateID INT, DateName int, DateDate decimal, ExpenseDate date, SELECT[{"sql": "SELECT EX_FORMAT(ExpenseDate, \'%Y-%m\') as Month, SUM(ExpenseAmount) as TotalSpenses FROM ProgramExpenses WHERE Expense(ExpenseDate) = 2021 GROUP BY Month;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average number of by the donors in the year States, 2022?sql":": "SELECT TABLE donorsations (DonationID INT, NameorName varchar(255), Country varchar(20), YearDonated decimal, SELECT INTO Donors (DonorID, DonorName, Country, AmountDonated) VALUES (1, \'John Doe\', \'United\', 1000.0), (2, \'Jane Smith\', \'USA\', 2000.00), SELECT[{"sql": "SELECT SUM(AmountDonated) FROM Donors WHERE Country = \'USA\' AND YEAR(DonationDate) = 2020; DonorType = \'Individual\';"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find the average of rows users in in a\'s clothing. the&MO2020",sql":": "SELECT TABLE materials (material_name_id(255), quantity VARCHAR(255),", INTO inventory (product_category, material) VALUES (\'Women\'sants\', \'cotton\'), INSERT INTO inventory (product_category, material) VALUES (\'women_pants\', \'polyester\'); INSERT INTO inventory (product_category, material) VALUES (\'women_pants\', \'nyilk\'); INSERT[{"sql": "SELECT COUNT(DISTINCT material) FROM inventory WHERE product_category = \'women_pants\' AND product_date BETWEEN \'2022-07-01\' AND \'2022-12-31\';"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average salaryhead ( a with the \'ian Basin, by a A? wheresql":": "SELECT TABLE wellsian_Wasin_Wid_depth INT, company_name(10), depth_depth DEC, INSERT INTO Permian_Basin (well_id, company, well_depth) VALUES (1, \'Company A\', 100.. (2, \'Company Z\', 8000); (3, \'Company Y\', 9500); (4, \'Company X\', 80000); SELECT[{"sql": "SELECT AVG(well_depth) FROM Permian_Basin WHERE company = \'Company Z\';"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find the average salary cost for each movies Adventure genres", in 2010 and 2015",sql":": "SELECT TABLE movies (id INT PRIMARY title VARCHAR(255), genre VARCHAR(10), release_date INT, production_budget DEC);"} INTO movies (id, title, genre, release_year, production_budget) VALUES (1, \'Action \', \'Action\', 2000, 100000),), ( INTO movies (id, title, genre, release_year, production_budget) VALUES (2, \'MovieB\', \'D\', 2002, 1200000); INSERT INTO movies (id, title, genre, release_year, production_budget) VALUES (3, \'MovieC\', \'Drama\', 2008, 10000000); INSERT[{"sql": "SELECT AVG(production_budget) FROM movies WHERE genre = (\'Action\', \'Drama\') AND release_year BETWEEN 2000 AND 2010;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average value of a bank source system in the? (context":": "SELECT TABLE energy_storage_facid INT PRIMARY name VARCHAR(10), capacity VARCHAR(255), capacity INT, SELECT INTO energy_storage (id, country, name, capacity) VALUES (1, \'Australia\', \'Battery Facility\', 10000), ( INTO energy_storage (id, country, name, capacity) VALUES (2, \'Australia\', \'Storage B\', 150.2); INSERT[{"sql": "SELECT MAX(capacity) FROM energy_storage WHERE country = \'Australia\';"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find of is officers are the been any reported incidents in the last ", \n\nsql":": "SELECT TABLE community_violations (\nid INT PRIMARY date VARCHAR(255), date DATE, SELECT INTO traffic_violations (id, sector, date) VALUES (1, \'Community \', \'2022-02-01\'), (2, \'Sector B\', \'2022-02-01\'), SELECT[{"sql": "SELECT sector FROM traffic_violations WHERE date >= DATEADD(month, -1, GET_DATE) AND BY sector HAVING COUNT(*) = 0;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find of have a highest average of population in the\'industry", a treatment. and the is the average salary for each countries", (sql":": "SELECT TABLE industry_wage (country VARCHAR(50), wage_percentage, wage_wage DEC);\n industry_wage_percentage FLOAT);\n INSERT INTO fair_wages (country, workers, avg_wage, fair_wage_percentage) VALUES (\'India\', 10000, 1500,0, 0.80), (\'India\', 250000, 4000.00, 0.85), (\'Germany\', 350000, 2500.00, 0.90); (\'France\', 600000, 2000.00, 0.92); (\'Germany\', 600000, 3500.00, 0.92); SELECT[{"sql": "SELECT country, fair(f_wage) FROM avg_wair_wage FROM fair_wages WHERE fair_wage_percentage = 0.8 GROUP BY avg_fair_wage DESC LIMIT 3;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find all the who have a out at than once3 times in andsql":": "SELECT TABLE users_checkins (id_id INT, check_in_date INT, INSERT[{"sql": "SELECT user_id FROM user_check_ins GROUP BY user_id HAVING COUNT(*)_in_id) > 30;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find are the first person American woman to fly to space",sql":": "The TABLE astronauts (id INT PRIMARY name VARCHAR(255), country_of(255), gender VARCHAR(255), mission_date DATE,"} INTO astronauts (id, name, country, race, flight_date) VALUES (1, \'Johnnie Evansair\', \'United States\', \'African American\', \'1983-01-20\'), (2, \'Sion Bluford\', \'United States\', \'African American\', \'1983-06-12\'), (3, \'Sad Shar\', \'United States\', \'African American\', \'1980-04-20\'); SELECT[{"sql": "SELECT name FROM astronauts WHERE race = \'African American\' AND flight_date = (SELECT MAX(flight_date) FROM astronauts WHERE race = \'African American\');"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find of are launched in the year 30 months? and by the deployment date in {"sql":": "SELECT TABLE satellites (idellite_id VARCHAR(255), launch_date DATE); SELECT INTO satellites (satellite_name, launch_date) VALUES (\'Satellite\', \'2020-01-01\'), (\'Sat2\', \'2019-06-01\'), (\'Sat3\', \'2010-03-20\'), (\'Sat4\', \'2018-03-12\'), SELECT[{"sql": "SELECT satellite FROM satellites WHERE launch_date >= DATEADD(year, -3, GET_DATE) ORDER BY launch_date;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average salary of the in the\'of (sql":": "SELECT TABLE vessel (id INT PRIMARY KEY, name VARCHAR(255), vessels VARCHAR(20), length INT, capacity INTuilt INT); SELECT[{"sql": "SELECT AVG(length) FROM fleet;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the average salary of days per the in the2028? 2019? (sql":": "The TABLE tourist (date INT PRIMARY name VARCHAR(10), year INT); year INT); INSERT INTO tourists (id, country, visitors, year) VALUES (1, \'India\', 100000, 2018), (2, \'India\', 6000, 2018), SELECT[{"sql": "SELECT AVG(visitors) FROM tourists WHERE country = \'India\' AND year IN (2018, 2019);"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find many unique centers centers are there the descent and and department title", (sql":": "SELECT TABLE communityHealthWorkers (\nJobW_ID INT PRIMARY Job VARCHAR(255), JobTitle VARCHAR(20), Ethnicity VARCHAR(10));"} INTO CommunityHealthWorkers (CHW_ID, Name, Job_Title, Ethnicity) VALUES (1, \'Johnila\', \'Program Coordinator Worker\', \'Asian\'), ( INTO CommunityHealthWorkers (CHW_ID, Name, Job_Title, Ethnicity) VALUES (2, \'Lee\', \'Community Community Health Worker\', \'Asian\'); INSERT[{"sql": "SELECT Job_Title, COUNT(*) FROM CommunityHealthWorkers WHERE Ethnicity = \'Asian\' GROUP BY Job_Title;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find is the averageALES emissions rate in a country unit in the year region region? 2010 to 2022? (sql":": "SELECT TABLE production_emissions_reduction (facility_id INT, year_name VARCHAR(50), emission2_emission_reduction, start INT, INSERT[{"sql": "SELECT facility_id, facilityCO.year2_emission - b.CO2_emission) AS CO2_emission_reduction FROM (_emission_data a JOIN facility_emission_data b ON a.facility_location = b.facility_location AND a.year = b.year + 1 WHERE a.facility_location = \'North America%\' AND b.year BETWEEN 2022 AND"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find the \'_date of the\'treaty program in the 1 in be2029-01-01\' andsql":": "SELECT TABLE peacekeeping_operations (id INT PRIMARY start VARCHAR(255), start_date DATE); SELECT[{"sql": "UPDATE peacekeeping_operations SET start_date = \'2018-05-01\' WHERE id = 2;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to actionable queries.\n\n \n\n you copy any information information or explanations that than the SQL queries.\n\n.\n\n depends\n\n[sql":": "Find the top of rowsages for the passengers traveled by each ship. a XYZABCStar Inc", the1 2029",sql":": "SELECT TABLE voy_vid INT PRIMARY name VARCHAR(255), INSERT INTO company (id, name) VALUES (1, \'SeaTech\'); SELECT TABLE vessel (id INT, name_id INT, vessel VARCHAR(255), INSERT TABLE voyage (id INT, vessel_id INT, departure VARCHAR, date VARCHAR, INSERT INTO voyage (id, name) VALUES (1, \'SeaTech\'); INSERT INTO vessel (id, company_id, name) VALUES (1, 1, \'Vessel1\'); (2, 1, \'VesselB\'); (3, 1, \'VesselC\'); INSERT INTO voyage (id, vessel_id, distance, quarter) VALUES (1, 1, 1000, 1), (2, 2, 2000, 1), (3, 2, 8000, 1); (4, 3, 1800, 2), (5, 3, 2000, 1), INSERT[{"sql": "SELECT vessel.name, COUNT(voyage.id) as voyages, SUM(voyage.distance) AS total FROM vessel JOIN JOIN voyage ON vessel.id = voyage.vessel_id INNER JOIN company ON vessel.company_id = company.id WHERE company.name = \'SeaTech\' AND voyage.quarter = 1 GROUP BY vessel.name;"}]', 'TagsTags:## off to Base:  020\n\nWith\'s: February09 March 2023\n\nThis are a travel assistant, can text queries into SQL to acti

{'eval_loss': 0.017283864319324493,
 'eval_model_preparation_time': 0.0026,
 'eval_bleu': 18.85,
 'eval_exact_match': 0.0,
 'eval_runtime': 208.1133,
 'eval_samples_per_second': 0.24,
 'eval_steps_per_second': 0.12}

In [12]:

# max_retries = 55
# final_model_dir = "/Users/mann.kurani.ctr/Desktop/Personal_Code/SQL Finetune/models/finetuned_final_2_tinyllama"

# for attempt in range(max_retries):
#     try:
#         if attempt == 0:
#             # Start fresh
#             trainer.train()
#         else:
#             # Resume from checkpoint
#             trainer.train(resume_from_checkpoint=True)
#         # trainer.train(resume_from_checkpoint=True)
#         trainer.model.save_pretrained(final_model_dir)
#         print("Training complete. Model saved.")
#         break

#     except RuntimeError as e:
#         print(f"[Attempt {attempt + 1}] RuntimeError during training: {e}")
#         print("Retrying after short delay...")
#         time.sleep(10)
#         torch.mps.empty_cache()
# else:
#     print("Training failed after maximum retries.")



# # do train.evaluate with printing the custom metrics, what is the issue? why is it showing 0?

In [6]:
# Load the PEFT config to get the base model name
adapter_path = "/Users/mann.kurani.ctr/Desktop/Personal_Code/SQL Finetune/models/finetuned_final_3_adaptor_tinyllama"
peft_config = PeftConfig.from_pretrained(adapter_path)

# Load the base model
base_model = AutoModelForCausalLM.from_pretrained(peft_config.base_model_name_or_path)

# Load the LoRA adapter into the base model
model = PeftModel.from_pretrained(base_model, adapter_path)

In [7]:
# Merge LoRA weights into the base model
model = model.merge_and_unload()

In [8]:
save_path = "/Users/mann.kurani.ctr/Desktop/Personal_Code/SQL Finetune/models/finetuned_final_3_tinyllama"
model.save_pretrained(save_path)

In [ ]:
model

LlamaForCausalLM(
  (model): LlamaModel(
    (embed_tokens): Embedding(128256, 2048)
    (layers): ModuleList(
      (0-15): 16 x LlamaDecoderLayer(
        (self_attn): LlamaAttention(
          (q_proj): Linear(in_features=2048, out_features=2048, bias=False)
          (k_proj): Linear(in_features=2048, out_features=512, bias=False)
          (v_proj): Linear(in_features=2048, out_features=512, bias=False)
          (o_proj): Linear(in_features=2048, out_features=2048, bias=False)
        )
        (mlp): LlamaMLP(
          (gate_proj): Linear(in_features=2048, out_features=8192, bias=False)
          (up_proj): Linear(in_features=2048, out_features=8192, bias=False)
          (down_proj): Linear(in_features=8192, out_features=2048, bias=False)
          (act_fn): SiLU()
        )
        (input_layernorm): LlamaRMSNorm((2048,), eps=1e-05)
        (post_attention_layernorm): LlamaRMSNorm((2048,), eps=1e-05)
      )
    )
    (norm): LlamaRMSNorm((2048,), eps=1e-05)
    (rotary_emb): LlamaRotaryEmbedding()
  )
  (lm_head): Linear(in_features=2048, out_features=128256, bias=False)
)

:

In [ ]:
decoded_labels = ['[{"sql": "SELECT COUNT(*) FROM companies WHERE industry = \'Fashion\' AND founder_gender = \'Female\';"}]', '[{"sql": "SELECT MIN(marketing_budget) FROM Movies WHERE release_year > 2015;"}]']
decoded_preds = ['TagsTags<|eot_id|>:<|eot_id|>## are a detective assistant to provides text queries into SQL to a queries. I you modify any information information or explanations that than the SQL queries itself.\n\n<|eot_id|><|eot_id|><|eot_id|>culus\n\n[sql":": "SELECT of have a power?",<|eot_id|>sql":": "The TABLE countriesWeapons (Country INT PRIMARY Country VARCHAR(50), Capabilityabilities BOOLEAN); SELECT<|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|>[{"sql": "SELECT Country FROM NuclearCapabilities WHERE Capable = TRUE;"}]<|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|>', 'TagsTags<|eot_id|>:<|eot_id|>## are a detective assistant to provides text queries into SQL to a queries. I you modify any information information or explanations that than the SQL queries itself.\n\n<|eot_id|><|eot_id|><|eot_id|>culus\n\n[sql":": "SELECT is the average number traveled by all of the \'? excluding by member and {"sql":": "SELECT TABLE members ( INT PRIMARY name VARCHAR(10), start_month_date_date DATE) SELECT INTO members (, gender, last_workout_date) VALUES (1,M\',2022-01-01\'), (2,\'female\',\'2022-01-15\'),(3,\'male-binary\',\'2022-03-20\');(4,\'male\',\'2022-03-17\'),(5,\'female\',\'2022-02-18\');(6,\'non\',\'2022-02-19\');(7,\'female-binary\',\'2022-02-20\');(8,\'female\',\'2022-02-21\');(9,\'male\',\'2022-02-22\');(10,\'female-binary\',\'2022-02-23\');(11,\'female\',\'2022-02-24\');(12,\'male\',\'2022-02-25\'); SELECT TABLE distances_log(id_id INT, distance_cover, workout_date DATE) INSERT INTO workout_data(member_id, distance, workout_date) VALUES (1,,2022-01-14\'),(2,10,\'2022-02-15\'),(3,3,\'2022-02-16\'),(4,8,\'2022-02-17\'),(5,4,\'2022-02-18\'),(6,10,\'2022-02-19\'),(7,11,\'2022-02-20\'),(8,12,\'2022-02-21\'),(9,13,\'2022-02-22\'),(10,14,\'2022-02-23\'),(11,15,\'2022-02-24\'),(12,16,\'2022-02-25\'); SELECT<|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|>[{"sql": "SELECT m.gender, SUM(w.distance) as members m JOIN workout_data w ON m.id = w.member_id WHERE m.workout_date >= DATEADD(CURRENT_DATE, INTERVAL 1 MONTH) GROUP BY m.gender;"}]<|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|>']

In [ ]:
print(decoded_preds[0])

TagsTags<|eot_id|>:<|eot_id|>## are a detective assistant to provides text queries into SQL to a queries. I you modify any information information or explanations that than the SQL queries itself.

<|eot_id|><|eot_id|><|eot_id|>culus

[sql":": "SELECT of have a power?",<|eot_id|>sql":": "The TABLE countriesWeapons (Country INT PRIMARY Country VARCHAR(50), Capabilityabilities BOOLEAN); SELECT<|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|>[{"sql": "SELECT Country FROM NuclearCapabilities WHERE Capable = TRUE;"}]<|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|><|eot_id|>

:

In [43]:
generated = decoded_preds[0].split("assistant")[-1].strip()

In [44]:
generated

'to provides text queries into SQL to a queries. I you modify any information information or explanations that than the SQL queries itself.\n\nculus\n\n[sql":": "SELECT is the average salary of all in the foresttrees\'\' category?sql":": "SELECT TABLE \'_trees (id INT PRIMARY name VARCHAR(255), age INT); SELECT INTO young_trees (id, species, age) VALUES (1, \'Oak\', 10), (2, \'Maple\', 10), (3, \'Pine\', 10); SELECT[{"sql": "SELECT AVG(age) FROM young_trees;"}]'

In [6]:
print(decoded_labels[0])

TagsTags:## off between Base:  2020

The's: February09 March 2023

This are a travel assistant. can units queries into SQL to code queries.

 Here you repeat any information information or explanations that than the SQL query itself.

?



Thesql":": "Find all employees of their number of founders they founded founded, andsql":": "Found TABLE founders {
name INT PRIMARY name,(255), gender,(10), SELECT TABLE companies (id INT, founder_id INT, company VARCHAR(50));"} INTO founders ( (1, 'Jane', 'female'); INSERT INTO companies VALUES (2, 'Bob', 'Male'); INSERT INTO founders ( (1, 1, 'Alice');'); INSERT INTO companies VALUES (2, 2, 'Bobve Inc.'); INSERT INTO companies VALUES (3, 2, 'Charlie Corp'); INSERT[{"sql": "SELECT founders.name, COUNT(companies.id) FROM founders INNER JOIN companies ON founders.id = companies.founder_id WHERE founders.gender = 'Female' GROUP BY founders.name;"}]